<div class="grid-container" id="container" draggable="true">
    <i class="material-icons" draggable="true">reorder</i>
    <input class="grid-item1" type="text" name="name" value="">
    <div class="name">Character Name</div>
    <input class="grid-item2" type="text" name="level" value="">
    <div class="level">Character Level</div>
    <input class="grid-item3" type="text" name="class" value="">
    <div class="class">Class</div>
    <input class="grid-item4" type="text" name="exp" value="">
    <div class="exp">Experienc Points</div>
    <input class="grid-item5" type="text" name="background" value="">
    <div class="background">Background</div>
    <input class="grid-item6" type="text" name="alignment" value="">
    <div class="alignment">Alignment</div>
    <input class="grid-item7" type="text" name="race" value="">
    <div class="race">Race</div>
    <input class="grid-item8" type="text" name="playerName" value="">
    <div class="playerName">Player Name</div>
</div>
